@font-face {
  font-family: "Alkatra", cursive;
  src: url(../fonts/Alkatra/static/Alkatra-Regular.ttf);
}

html {
  font-size: 100%;
}

body {
  font: 300 1rem/1.375 "Source Sans Pro", sans-serif;
  color: #262e36;
}

h1,
h2,
h3,
nav ul,
#copyright,
table th,
.heading {
  font: 900 "Source Sans Pro", sans-serif;
  letter-spacing: 0.02em;
}

h1 {
  font: bold 3.4rem "Alkatra", cursive, serif;
  text-transform: uppercase;
  color: #fefefe;
}

h2 {
  font-size: 1.8rem;
  color: #fefefe;
}

h3 {
  font-size: 1.5rem;
  color: #fefefe;
}

p {
  text-align: center;
}

article {
  margin: 0rem;
  padding: 2rem 2rem;
  border: solid 0.1rem #edf9ff;

  background-image: linear-gradient(45deg, #ffbdc7 0%, #fcb392 100%);
}

article > p,
section > p {
  margin: 0rem;
  padding: 4rem 2rem;
}

article > h2,
article > h3 {
  text-align: center;
}

#classes {
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20rem;
  padding: 10rem;
  margin: 0;
  background-image: linear-gradient(45deg, #ffbdc7 0%, #fcb392 100%);
  margin: 10rem;
}

#classes tr {
  background-image: linear-gradient(45deg, #ff8f5f 0%, #904928 100%);
  border: 1px solid #621f00;
}

#classes th {
  background-image: linear-gradient(45deg, #ff7f48 0%, #d75a20 100%);
  border: 1px solid #621f00;
  padding: 1rem;
  margin: 2rem;
}

#classes td {
  padding: 1.2rem;
  border: 1px solid #621f00;
}

#classes h2 {
  text-align: center;
}

#container {
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-image: linear-gradient(120deg, #7bbade 0%, #93dcfe 100%);
  background-image: linear-gradient(120deg, #024871 0%, #376072 100%);
  background-image: linear-gradient(120deg, #fff8f4 0%, #ff8a46 100%);
    background-image: linear-gradient(45deg, #ffdabd 0%, #832700 100%); */
  background-color: #b0d0e9;
  background-color: #02648b;
}

#story {
  margin: 0rem;
  padding: 2rem 2rem;
  border: solid 0.1rem #edf9ff;

  /* background-image: linear-gradient(45deg, #ffe0bd 0%, #ff8953 100%); */
}

#story > p {
  background-color: #60a7d7;
  border-radius: 40rem 40rem 40rem 40rem;
  padding: 4rem;
  margin: 2rem 10rem;
}

#story > p:nth-of-type(even) {
  background-image: linear-gradient(45deg, #ffbdc7 0%, #fcb392 100%);
}

img {
  display: block;
  border: 1px solid #eee;
  max-height: 40rem;
}

article > img {
  display: block;
  border: 1px solid #eee;
  min-width: 100%;
  max-width: 50rem;
  max-height: 25rem;
}

#story > img {
  margin: 2rem auto;
  width: 75%;
  border-radius: 0.2rem;
  max-height: 30rem;
}

#story > h2,
#story > h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  background: url(../images/surfers-unsplash.jpg) no-repeat fixed center;
  background-size: cover;
  padding: 22rem;
  height: 88.8vh;
  /* width: 100%; */
  border-bottom: 0.1rem solid #aeb8c2;
  z-index: 999;
}

header > p {
  font: bolder 1rem "Lora", sans-serif;
  background-color: rgb(169, 27, 67);

  color: rgb(169, 27, 67);
  color: #636363;
  color: #eaf7ff;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

header > p:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: rgb(169, 27, 67) transparent;
  border-width: 1.2rem 0.5rem 0;
  top: 41.5rem;
  left: 50%;
  margin-left: -20px;
}

nav {
  font: bold 1.5rem "Lora", sans-serif;
  /* background-image: linear-gradient(120deg, #366986 0%, #0d5678 100%); */
  background-image: linear-gradient(120deg, #8ad4ff 0%, #6abbe0 100%);
  background-image: linear-gradient(45deg, #ffbc5d 0%, #ff9564b9 100%);
  background-image: linear-gradient(120deg, #8ad4ff 0%, #6abbe0 100%);
  background-image: linear-gradient(45deg, #ffa962 0%, #ffc664f5 100%);
  background-image: linear-gradient(45deg, #ffd3a3 0%, #ff9564b9 100%);
  background-image: linear-gradient(45deg, #fbcb8c 0%, #ffbfa1 100%);
  background-image: linear-gradient(45deg, #ffbdc7 0%, #fcb392 100%);
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 0.128rem solid #ffbdc7;
  margin-bottom: 0.2rem;
  z-index: 99999;
}

nav ul {
  padding: 1.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav ul li {
  padding: 0.5rem;
  margin-right: 2rem;
}

nav ul li a {
  color: #eaf7ff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ffdde1;
  color: #424141;
  color: #9f294a;
  color: #31abe4;
  color: #0680b9;
  color: #4a4949;
  color: #262e36;
  color: #524e4e;
  color: #ffffff;
  color: #004b76;
  color: #ff7104;
  color: #ffffff;
}

nav li {
  transition: all 0.1s ease-in-out 0.1s;
}

nav li:hover {
  transform: scale(1.1);
  transition: all 0.15s ease-in-out 0.05s;
}

h1,
h2,
h3,
p {
  margin: 0.2rem 2rem;
  margin-bottom: 1rem;
}

main {
  width: 95%;
  margin: 0 auto;
}

article {
  /* padding: 12rem; */
}

#products {
  position: relative;
  margin: 85rem 0rem 0.2rem;
  z-index: 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "left right";
  grid-template-rows: 1fr 1fr;
}

#newsletter {
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  padding: 5rem;

  background-color: #60a7d7;
  margin: 10rem;
}

#newsletter h3 {
  text-align: center;
  padding: 1rem;
}

#newsletter ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newsletter ul li {
  padding: 0.2rem;
}

input[type="Submit"] {
  color: rgb(0, 128, 255);
}
footer {
  padding: 4rem;

  background-color: #60a7d7;
  border-top: 0.02rem solid #3c81ca;
}

@media screen and (max-width: 1000px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    display: flex;
    justify-content: center;
  }

  #products {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    background: url(../images/surfers-unsplash.jpg) no-repeat fixed center;
    background-size: cover;
    padding: 22rem;
    height: 88.8vh;
    /* width: 100%; */
    border-bottom: 0.1rem solid #aeb8c2;
    z-index: 999;
  }

  header > p {
    position: absolute;
    left: 73.5%;
    bottom: 57%;
    font: bolder 1rem "Lora", sans-serif;
    background-color: rgb(169, 27, 67);

    color: rgb(169, 27, 67);
    color: #636363;
    color: #eaf7ff;
    padding: 0.4rem;
    border-radius: 0.4rem;
  }

  header > p:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: rgb(169, 27, 67) transparent;
    border-width: 1.1rem 0.5rem 0;
    top: 1.85rem;
    left: 50%;
    margin-left: -20px;
  }
}
